#RegistrationForm {
  display: flex;
  flex-direction: column;
  padding: 50px 0 0;
  width: 350px;
  margin: 0 auto;
  #phoneGroup,
  #emailGroup {
    display: none;
    &.active {
      display: block;
    }
  }
  button {
    margin: 0 0 15px;
  }
  .has-error {
    input[type="text"],
    input[type="email"],
    select {
      border: 1px solid #a94442;
    }
  }
  .with-errors {
    color: #a94442 !important;
    .list-unstyled {
      margin: 0;
    }
  }
}
